modules = ["elixir", "nodejs-20", "elixir-1_18"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Phoenix Server"

[[workflows.workflow]]
name = "Phoenix Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix phx.server"
waitForPort = 5000

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
