
<div class="mx-auto max-w-2xl">
  <.header>
    Relays
    <:actions>
      <.link patch={~p"/relays/new"}>
        <.button>Add Relay</.button>
      </.link>
    </:actions>
  </.header>

  <div class="mt-8">
    <div id="relays" phx-update="stream" class="space-y-4">
      <div :for={{id, relay} <- @streams.relays} id={id} class="p-4 bg-white shadow rounded-lg">
        <div class="flex items-center justify-between">
          <div class="flex-1">
            <div class="flex items-center gap-2">
              <h3 class="font-medium text-gray-900"><%= relay.url %></h3>
              <span class="flex w-2 h-2 bg-green-500 rounded-full"></span>
            </div>
            <div class="mt-2 text-sm text-gray-600">
              <ul class="space-y-1">
              <%= for {k, v} <- relay.relay_info do %>
                <%= if is_binary(v) and v != "" do %>
                  <li class="flex items-center gap-1">
                    <span class="font-medium"><%= k %>:</span>
                    <span><%= v %></span>
                  </li>
                <% end %>
                <%= if is_list(v) do %>
                  <li class="flex items-center gap-1">
                    <span class="font-medium"><%= k %>:</span>
                    <span><%= Enum.join(v, ", ") %></span>
                  </li>
                <% end %>
              <% end %>
              </ul>
            </div>
          </div>
          <div>
            <.link
              phx-click={JS.push("delete", value: %{name: relay.url}) |> hide("##{id}")}
              data-confirm="Are you sure you want to disconnect from this relay?"
              class="text-sm text-red-600 hover:text-red-800"
            >
              Disconnect
            </.link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<.modal :if={@live_action in [:new, :edit]} id="relay-modal" show on_cancel={JS.patch(~p"/relays")}>
  <.live_component
    module={MistWeb.RelayLive.FormComponent}
    id={@relay.id || :new}
    title={@page_title}
    action={@live_action}
    relay={@relay}
    patch={~p"/relays"}
  />
</.modal>
