<.header>
  Relay {@relay.id}
  <:subtitle>This is a relay record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/relays/#{@relay}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit relay</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@relay.name}</:item>
  <:item title="Description">{@relay.description}</:item>
  <:item title="Banner">{@relay.banner}</:item>
  <:item title="Icon">{@relay.icon}</:item>
  <:item title="Pubkey">{@relay.pubkey}</:item>
  <:item title="Contact">{@relay.contact}</:item>
  <:item title="Supported nips">{@relay.supported_nips}</:item>
  <:item title="Software">{@relay.software}</:item>
  <:item title="Version">{@relay.version}</:item>
</.list>

<.back navigate={~p"/relays"}>Back to relays</.back>

<.modal :if={@live_action == :edit} id="relay-modal" show on_cancel={JS.patch(~p"/relays/#{@relay}")}>
  <.live_component
    module={MistWeb.RelayLive.FormComponent}
    id={@relay.id}
    title={@page_title}
    action={@live_action}
    relay={@relay}
    patch={~p"/relays/#{@relay}"}
  />
</.modal>
