
<div class="mx-auto max-w-2xl">
  <.header>
    Profiles
  </.header>

  <.form for={@search_form} phx-submit="search" class="mt-4">
    <.input type="text" field={@search_form[:search_term]} placeholder="Enter nprofile, npub, or hex pubkey..." />
    <.button type="submit" class="mt-2">Search</.button>
  </.form>

  <div :if={@parsed_profile} class="mt-4 p-4 bg-gray-50 rounded-lg">
    <h3 class="text-lg font-semibold">Search Result</h3>
    <p class="mt-2"><span class="font-medium">Pubkey:</span> <%= @parsed_profile.pubkey %></p>
    <p class="mt-1"><span class="font-medium">Npub:</span> <%= @parsed_profile.npub%></p>
    <p :if={@parsed_profile.relays != []} class="mt-1">
      <span class="font-medium">Relays:</span> <%= @parsed_profile.relays %>
    </p>
  </div>

  <div class="mt-8">
    <h2 class="text-lg font-semibold mb-4">Profiles you follow</h2>
    <div id="profiles" phx-update="stream" class="space-y-4">
      <div :for={{id, profile} <- @streams.profiles} id={id} class="p-4 bg-white shadow rounded-lg">
        <div class="flex items-center gap-4">
          <div :if={profile.picture} class="w-12 h-12">
            <img src={profile.picture} class="w-full h-full rounded-full object-cover" alt={profile.name}/>
          </div>
          <div class="flex-1">
            <h3 class="font-medium"><%= profile.name %></h3>
            <p class="text-sm text-gray-500 break-all"><%= profile.npub %></p>
            <p :if={profile.about} class="mt-2 text-sm"><%= profile.about %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
