<.header>
  Listing Profiles
  <:actions>
    <.link patch={~p"/profiles/new"}>
      <.button>New Profile</.button>
    </.link>
  </:actions>
</.header>

<.form for={@nprofile_form} phx-submit="parse_nprofile">
  <.input type="text" field={@nprofile_form[:nprofile]} placeholder="Enter nprofile, npub, or hex pubkey..." />
  <.button type="submit">Parse</.button>
</.form>

<div :if={@parsed_profile}>
  <p>Pubkey: <%= @parsed_profile.pubkey %></p>
  <p>Npub: <%= @parsed_profile.npub%></p>
  <p :if={@parsed_profile.relays !== []}>Relays: {@parsed_profile.relays}</p>
  <p :if={@parsed_profile.relays == []}> No relays were supplied to find this pubkey.</p>
</div>

<.table
  id="profiles"
  rows={@streams.profiles}
  row_click={fn {_id, profile} -> JS.navigate(~p"/profiles/#{profile}") end}
>
  <:col :let={{_id, profile}} label="name"> {profile.name} </:col>
  <:col :let={{_id, profile}} label="pubkey"> {profile.npub} </:col>
  <:action :let={{_id, profile}}>
    <div class="sr-only">
      <.link navigate={~p"/profiles/#{profile}"}>Show</.link>
    </div>
  </:action>
  <:action :let={{id, profile}}>
    <.link
      phx-click={JS.push("delete", value: %{id: profile.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="profile-modal" show on_cancel={JS.patch(~p"/profiles")}>
  <.live_component
    module={MistWeb.ProfileLive.FormComponent}
    id={@profile.id || :new}
    title={@page_title}
    action={@live_action}
    profile={@profile}
    patch={~p"/profiles"}
  />
</.modal>
